body {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
#container {
    display: flex;
    min-height: 100%;
}
input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
label {
    position: absolute;
    top: 10px;
    z-index: 1;
    display: block;
    font-size:3em;
    color: #444;
    cursor: pointer;
    width:30px;height:30px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");

    transform: translate3d(0, 0, 0);
    transition: transform .4s;
}
input[type=checkbox]:checked ~ label {
    transform: translate3d(250px, 0, 0) rotate(90deg);
}
.content {
    width:100%;
    padding: 40px;
    background: #f2f2f2;
    transform: translate3d(0, 0, 0);
    transition: transform .4s;
}
input[type=checkbox]:checked ~ .content {
    transform: translate3d(250px, 0, 0);
}
input[type=checkbox]:checked ~ .slide-menu {
    transform: translate3d(0, 0, 0);
}
input[type=checkbox]:checked ~ .slide-menu .menu li {
    width: 100%;
}
.slide-menu {
    transform: translate3d(-250px, 0, 0);
    position: fixed;
    z-index: 999;
    width: 250px;
    background: #4f6b81;
    color: #ddd;
    left: 0;
    height: 100%;
    transition: all .4s;
}
.slide-menu h1 {
    margin: 10px;
    text-shadow: 1px 1px 1px #000;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    padding: 15px;
    background: linear-gradient(#628297, #4f6b81);
    border-bottom: 1px solid #1e222b;
    box-shadow: inset 0px 1px 1px #8b9db3;
}
.menu a:hover {
    background: linear-gradient(#3b3f48, #3c434d);
    box-shadow: inset 0px 1px 1px #475059;
}

#menuBar {
    width: 100%;
    height: 40px;
    background-color: #e0e0e0;
    border-bottom: 1px solid grey;
}

#logo {
    padding: 5px 0 0 50px;
    font-weight: bold;
    font-size: 120%;
    float: left;
}
#showid {
    padding: 5px 0 0 50px;
    font-weight: bold;
    font-size: 120%;
    float: left;
}
#title {
    padding: 5px 0 0 70px;
    float: left;
}

#buttonDiv {
    float: right;
    padding: 5px 10px 0 0;
}
#button-save {
    float: right;
    padding: 5px 20px 0 0;
}
#savebutton {
    font-size: 120%
}


#runButton {
    font-size: 120%
}

/*#toggles {
    width: 160px;
    margin: 0 auto;
    list-style: none;
    border: 1px solid grey;
    border-radius: 3px;
    height: 27px;
    padding: 0;
    position: relative;
    top: 5px;
}*/

#toggles li {
    float: left;
    border-right: 1px solid grey;
    padding: 5px 6px;
}

.clear {
    clear: both;
}

.codeContainer {
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
}

.codeContainer textarea {
    width: 100%;
    height: 100%;
    border: none;
    border-right: 1px solid grey;
    font-family: "monotype";
    font-size: 90%;
    box-sizing:border-box;
    padding: 45px 0 0 5px;
    resize:none;
}

.codeLable {
    position: absolute;
    right: 10px;
    top: 10px;
}

#CSSContainer, #JSContainer {
    display: none;
}

iframe {
    height: 100%;
    position: relative;
    left: 20px;
    border: none;
}

.selected {
    background-color:grey;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}






